<footer class="!bg-[#ffffff] border-t border-[#e5e5e5] hidden md:block lg:block xl:block">
  <div class="container py-16 xl:!py-20 lg:!py-20 md:!py-20">
    <div class="flex flex-wrap justify-between mx-[-15px] mt-[-30px] xl:mt-0 lg:mt-0">
      <div class="md:w-4/12 xl:w-3/12 lg:w-3/12 w-full flex-[0_0_auto] px-[15px] max-w-full xl:mt-0 lg:mt-0 mt-[30px]">
        <div class="widget">
          <%= image_tag("logo.png", alt: "image", style: "height: 100px; width: auto;") %>
          <p class="!mb-4">&copy; 2025 Wise. <br class="hidden xl:block lg:block">
            All rights reserved.</p>
          <nav class="nav social">
            <a class="text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 motion-reduce:transition-none hover:translate-y-[-0.15rem] m-[0_.7rem_0_0]" href="https://x.com/wise_austria?s=11&t=jNLEHdZq-_BBaVgdyzoWtA", target="_blank"><i class="uil uil-twitter before:content-['\\ed59'] !text-[#5daed5] text-[1rem]"></i></a>
            <a class="text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 motion-reduce:transition-none hover:translate-y-[-0.15rem] m-[0_.7rem_0_0]" href="https://www.instagram.com/wise_austria?igsh=MWljYjZmZ2k4aGdvOA==", target="_blank"><i class="uil uil-instagram before:content-['\\eb9c'] !text-[#d53581] text-[1rem]"></i></a>
            <a class="text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 motion-reduce:transition-none hover:translate-y-[-0.15rem] m-[0_.7rem_0_0]" href="https://www.linkedin.com/company/zen-os/", target="_blank"><i class="uil uil-linkedin before:content-['\\ebd1'] !text-[#0e76a8] text-[1rem]"></i></a>
          </nav>
          <!-- /.social -->
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="md:w-4/12 xl:w-3/12 lg:w-3/12 w-full px-[15px] max-w-full">
        <div class="widget">
          <h4 class="widget-title !mb-3">Get in Touch</h4>
          <address class="xl:pr-[4rem] xxl:!pr-[5rem] not-italic leading-[inherit] block mb-4">Haberergasse 7/11, 1220 Vienna, Austria</address>
          <%= mail_to("info@wiseaustria.com", "info@wiseaustria.com", class: "text-[#60697b] hover:text-[#60697b]", target: "_blank") %><br>
          00 (123) 456 78 90
        </div>
      </div>
      <!-- /column -->
      <div class="md:w-4/12 xl:w-3/12 lg:w-3/12 w-full px-[15px] max-w-full">
        <div class="widget">
          <h4 class="widget-title !mb-3">Learn More</h4>
          <ul class="pl-0 list-none !mb-0">
            <li><%= link_to "About Us", about_us_path,  class: "text-[#60697b] hover:text-[#605dba]" %></li>
            <li class="mt-[0.35rem]"><%= link_to "Projects", projects_path, class: "text-[#60697b] hover:text-[#605dba]" %></li>
            <li class="mt-[0.35rem]"><%= link_to "Partnership", partnership_path, class: "text-[#60697b] hover:text-[#605dba]" %></li>
            <li class="mt-[0.35rem]"><%= link_to "Contact", contact_path, class: "text-[#60697b] hover:text-[#605dba]" %></li>
          </ul>
        </div>
      </div>
      <!-- /column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</footer>
<footer class="!bg-[#ffffff] border-t border-[#e5e5e5] md:hidden lg:hidden xl:hidden">
  <div class="container py-8">
    <div class="flex flex-col items-center text-center space-y-6">
      <!-- Get in Touch -->
      <div class="widget">
        <h4 class="widget-title !mb-3">Get in Touch</h4>
        <address class="not-italic leading-[inherit] block mb-4">
          Haberergasse 7/11, 1220 Vienna, Austria
        </address>
        <%= mail_to("info@wiseaustria.com", "info@wiseaustria.com", class: "text-[#60697b] hover:text-[#60697b]", target: "_blank") %><br>
        00 (123) 456 78 90
      </div>
      <!-- Social Media Links -->
      <nav class="nav social space-x-3">
        <a class="text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 motion-reduce:transition-none hover:translate-y-[-0.15rem]" href="https://x.com/wise_austria?s=11&t=jNLEHdZq-_BBaVgdyzoWtA", target="_blank">
          <i class="uil uil-twitter before:content-['\\ed59'] !text-[#5daed5] text-[1rem]"></i>
        </a>
        <a class="text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 motion-reduce:transition-none hover:translate-y-[-0.15rem]" href="https://www.instagram.com/wise_austria?igsh=MWljYjZmZ2k4aGdvOA==", target="_blank">
          <i class="uil uil-instagram before:content-['\\eb9c'] !text-[#d53581] text-[1rem]"></i>
        </a>
        <a class="text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 motion-reduce:transition-none hover:translate-y-[-0.15rem]" href="https://www.linkedin.com/company/zen-os/", target="_blank">
          <i class="uil uil-linkedin before:content-['\\ebd1'] !text-[#0e76a8] text-[1rem]"></i>
        </a>
      </nav>
      <!-- Learn More -->
      <div class="widget">
        <h4 class="widget-title !mb-3">Learn More</h4>
        <ul class="pl-0 list-none space-y-2">
          <li><%= link_to "About Us", about_us_path, class: "text-[#60697b] hover:text-[#605dba]" %></li>
          <li><%= link_to "Projects", projects_path, class: "text-[#60697b] hover:text-[#605dba]" %></li>
          <li><%= link_to "Partnership", partnership_path, class: "text-[#60697b] hover:text-[#605dba]" %></li>
          <li><%= link_to "Contact", contact_path, class: "text-[#60697b] hover:text-[#605dba]" %></li>
        </ul>
      </div>
      <!-- Logo and Rights -->
      <div class="widget flex items-center space-x-2">
        <p class="!mb-0 text-[#60697b]">&copy; 2025 Wise. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
