<nav class="navbar navbar-expand-lg center-nav transparent !absolute navbar-light caret-none">
  <div class="container xl:flex-row lg:flex-row !flex-nowrap items-center">
    <div class="navbar-brand w-full">
      <%= link_to root_path, data: { turbo: false } do %>
        <%= image_tag("logo.png", alt: "image", style: "height: 100px; width: auto;") %>
      <% end %>
    </div>
    <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
      <div class="offcanvas-header xl:hidden lg:hidden flex items-center justify-between flex-row p-6">
        <h3 class="text-white xl:text-[1.5rem] !text-[calc(1.275rem_+_0.3vw)] !mb-0">WISE</h3>
        <button type="button" class="btn-close-custom mr-[-0.75rem] m-0 p-0 leading-none text-[#605dba]" data-bs-dismiss="offcanvas" aria-label="Close">
          <i class="fas fa-times" style="font-size: 24px;"></i> <!-- Povećana ikona s direktnim stilom -->
        </button>
      </div>
      <div class="offcanvas-body xl:!ml-auto lg:!ml-auto flex flex-col !h-full">
        <ul class="navbar-nav">
          <li class="nav-item"><%= link_to 'Home', root_path, class: "nav-link", data: { turbo: false } %></li>
          <li class="nav-item"><%= link_to 'About Us', about_us_path, class: "nav-link", data: { turbo: false } %></li>
          <li class="nav-item"><%= link_to 'Projects', projects_path, class: "nav-link", data: { turbo: false } %></li>
          <li class="nav-item"><%= link_to 'Partnership', partnership_path, class: "nav-link", data: { turbo: false } %></li>
          <li class="nav-item"><%= link_to 'Contact', contact_path, class: "nav-link", data: { turbo: false } %></li>
        </ul>
      </div>
    </div>
    <div class="navbar-other w-full flex justify-end items-center ml-auto">
      <ul class="navbar-nav flex-row items-center">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Log Out', destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link text-[#343f52] hover:text-[#3f78e0]" %>
          <% end %>
        </li>
        <li class="nav-item xl:hidden lg:hidden">
          <button class="hamburger offcanvas-nav-btn"><span></span></button>
        </li>
      </ul>
    </div>
  </div>
</nav>
