<div class="grow shrink-0">
  <section class="wrapper image-wrapper bg-full bg-image bg-overlay bg-overlay-light-600" style="background-image: url('<%= asset_path("photos/bg23.png") %>');" data-image-src="<%= asset_path("photos/bg23.png") %>">
    <div class="container pt-24 xl:pt-32 lg:pt-32 md:pt-32 pb-9">
      <div class="flex flex-wrap mx-0 mt-[-50px] items-center text-center lg:text-left xl:text-left">
        <div class="xl:w-6/12 lg:w-6/12 xxl:w-5/12 w-full flex-[0_0_auto] max-w-full !relative mt-[50px]">
          <%= image_tag("svg/doodle1.svg", class: "h-9 !absolute hidden xl:block lg:block", style: "top: -9%; left: -6%", alt: "image") %>
          <%= image_tag("svg/doodle2.svg", class: "!h-[5rem] !absolute hidden xl:block lg:block", style: "bottom: 9%; right: -22%", alt: "image") %>
          <h1 class="xl:text-[2.5rem] text-[calc(1.375rem_+_1.5vw)] font-semibold !leading-[1.15] mb-4">
            Welcome to <span class="text-gradient gradient-7">WISE!</span>
          </h1>
          <p class="lead !text-[1.2rem] !leading-[1.5] font-normal mb-7">
            Women's Institute for Skills and Entrepreneurship
          </p>
        </div>
        <!-- /column -->
        <div class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] max-w-full ml-auto mb-[-10rem] xxl:!mb-[-15rem] mt-[50px]">
          <%= image_tag("wisesova3D.png", class: "w-full max-w-full !h-auto", alt: "image") %>
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
    <div class="overflow-hidden" style="z-index:1;">
      <div class="divider text-[#fefefe] mx-[-0.5rem]">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 100">
          <g fill="currentColor">
            <polygon points="1440 100 0 100 0 85 1440 0 1440 100" />
          </g>
        </svg>
      </div>
    </div>
    <!-- /.overflow-hidden -->
  </section>
  <section class="wrapper !bg-[#ffffff]">
    <div class="container pt-32 xl:pt-40 lg:pt-40 md:pt-40 pb-[4.5rem] xl:pb-24 lg:pb-24 md:pb-24">
      <div class="flex flex-wrap mx-[-15px] !text-center">
        <div class="lg:w-10/12 xl:w-9/12 xxl:w-8/12 flex-[0_0_auto] px-[15px] max-w-full !mx-auto !relative">
          <%= image_tag("svg/doodle3.svg", class: "!h-[3rem] absolute hidden xl:block lg:block", style: "top: -45%; left: 23%", alt: "image") %>
          <%= image_tag("svg/doodle4.svg", class: "h-8 absolute hidden xl:block lg:block", style: "top: 6%; right: 2%", alt: "image") %>
          <h3 class="xl:text-[2rem] text-[calc(1.325rem_+_0.9vw)] font-semibold !leading-[1.2] mb-12 lg:!px-5 xl:!px-0 xxl:!px-6">Explore our initiatives and join our mission to <span class="text-gradient gradient-7">create opportunities</span> for women to grow, connect, and thrive.</h3>
        </div>
      </div>
    </div>
  </section>
  <section class="wrapper !bg-[#ffffff]">
    <div class="container pt-20 xl:pt-28 lg:pt-28 md:pt-28 pb-16 xl:pb-20 lg:pb-20 md:pb-20">
      <div class="flex flex-wrap mx-[-15px] xl:mx-[-35px] lg:mx-[-20px] mt-[-50px] items-center">
        <div class="xl:w-7/12 lg:w-7/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] mt-[50px] max-w-full xl:!order-2 lg:!order-2">
          <%= image_tag("illustrations/i2.png", class: "w-auto", alt: "image") %>
        </div>
        <!--/column -->
        <div class="xl:w-5/12 lg:w-5/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] mt-[50px] max-w-full">
          <h2 class="!text-[.75rem] uppercase text-line relative align-top pl-[1.4rem] inline-flex tracking-[0.02rem] leading-[1.35] before:content-[''] before:absolute before:inline-block before:translate-y-[-60%] before:w-3 before:h-[0.05rem] before:left-0 before:top-2/4 before:bg-[#3f78e0] text-[#3f78e0] !mb-3">Why Choose Us?</h2>
          <h3 class="text-[calc(1.285rem_+_0.42vw)] font-bold xl:text-[1.6rem] !leading-[1.3] mb-7">A few reasons why our valued customers choose us.</h3>
          <div class="accordion accordion-wrapper" id="accordionExample">
            <!-- Accordion Item 1 -->
            <div class="card plain accordion-item">
              <div class="card-header !mb-0 !p-[0_0_.8rem_0] !border-0 !bg-inherit" id="headingOne">
                <button class="before:!text-[#3f78e0] hover:!text-[#3f78e0] !p-[0_0_0_1.1rem] !text-[.85rem] accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What We Believe</button>
              </div>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="card-body flex-[1_1_auto] pb-4 xl:p-[2rem_2.5rem_1.25rem] lg:p-[2rem_2.5rem_1.25rem] md:p-[2rem_2.5rem_1.25rem]">
                  <p>At WISE, we believe in the transformative power of women’s potential. Like the owl, a universal symbol of wisdom and insight, we strive to empower women to nurture their intelligence, creativity, and capacities. Our efforts are dedicated to the empowerment of women through skills development, entrepreneurship, and meaningful support.</p>
                </div>
              </div>
            </div>
            <!--/.accordion-item -->
            <!-- Accordion Item 2 -->
            <div class="card plain accordion-item">
              <div class="card-header !mb-0 !p-[0_0_.8rem_0] !border-0 !bg-inherit" id="headingTwo">
                <button class="before:!text-[#3f78e0] hover:!text-[#3f78e0] !p-[0_0_0_1.1rem] !text-[.85rem] collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Our Journey</button>
              </div>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="card-body flex-[1_1_auto] pb-4 xl:p-[2rem_2.5rem_1.25rem] lg:p-[2rem_2.5rem_1.25rem] md:p-[2rem_2.5rem_1.25rem]">
                  <p>Our journey began many years ago as an informal initiative, bringing together women from diverse backgrounds through gatherings, online meetups, and collaborative support. We organized workshops, shared resources, and created a network where women could access guidance and exchange knowledge. Through these efforts, we helped women develop new skills, build confidence, and strengthen their entrepreneurial spirit.</p>
                </div>
              </div>
            </div>
            <!--/.accordion-item -->
            <!-- Accordion Item 3 -->
            <div class="card plain accordion-item">
              <div class="card-header !mb-0 !p-[0_0_.8rem_0] !border-0 !bg-inherit" id="headingThree">
                <button class="before:!text-[#3f78e0] hover:!text-[#3f78e0] !p-[0_0_0_1.1rem] !text-[.85rem] collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Your Path With WISE</button>
              </div>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="card-body flex-[1_1_auto] pb-4 xl:p-[2rem_2.5rem_1.25rem] lg:p-[2rem_2.5rem_1.25rem] md:p-[2rem_2.5rem_1.25rem]">
                  <p>Whether you’re a young woman eager to explore entrepreneurial opportunities, an individual seeking to expand your skills, or a community partner, WISE is your platform for growth, innovation, and connection. We are committed to helping women realize their potential and build sustainable, independent futures.</p>
                </div>
              </div>
            </div>
            <!--/.accordion-item -->
          </div>
          <!--/.accordion -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </section>
  <%= render 'shared/contact' %>
  <!-- /section -->
</div>
<!-- /.content-wrapper -->
<%= render 'shared/footer' %>
<!-- progress wrapper -->
<div class="progress-wrap fixed w-[2.3rem] h-[2.3rem] cursor-pointer block shadow-[inset_0_0_0_0.1rem_rgba(128,130,134,0.25)] z-[1010] opacity-0 invisible translate-y-3 transition-all duration-[0.2s] ease-[linear,margin-right] delay-[0s] rounded-[100%] right-6 bottom-6 motion-reduce:transition-none after:absolute after:content-['\e951'] after:text-center after:leading-[2.3rem] after:text-[1.2rem] after:text-[#605dba] after:h-[2.3rem] after:w-[2.3rem] after:cursor-pointer after:block after:z-[1] after:transition-all after:duration-[0.2s] after:ease-linear after:left-0 after:top-0 motion-reduce:after:transition-none after:font-Unicons">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
    <path class="fill-none stroke-[#605dba] stroke-[4] box-border transition-all duration-[0.2s] ease-linear motion-reduce:transition-none" d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
  </svg>
</div>