<section class="wrapper !bg-[#edf2fc]">
  <div class="container pt-10 pb-36 xl:pt-[4.5rem] lg:pt-[4.5rem] md:pt-[4.5rem] xl:pb-60 lg:pb-60 md:pb-60 !text-center">
    <div class="flex flex-wrap mx-[-15px] project-mobile-margin">
      <div class="md:w-10/12 lg:w-8/12 xl:w-7/12 w-full flex-[0_0_auto] px-[15px] max-w-full !mx-auto">
        <div class="post-header">
          <h1 class="text-xl md:text-2xl xl:text-3xl font-bold leading-tight !mb-3">
            <%= @project.title %>
          </h1>
        </div>
        <!-- /.post-header -->
      </div>
    </div>
  </div>
</section>
<div class="wrapper !bg-[#ffffff] border-b-[rgba(164,174,198,0.2)] border-b border-solid">
  <div class="container !pb-[4.5rem] xl:!pb-24 lg:!pb-24 md:!pb-24">
    <div class="flex flex-wrap mx-[-15px]">
      <div class="w-full flex-[0_0_auto] px-[15px] max-w-full">
        <article class="mt-[-12.5rem]">
          <div class="!rounded-[.4rem] !mb-8 xl:!mb-[3.5rem] lg:!mb-[3.5rem] md:!mb-[3.5rem]">
            <%= image_tag(@project.image, alt: @project.title, style: "width: 100%; max-width: none; height: auto;", class: "!rounded-[.4rem] mx-auto") %>
          </div>
          <div class="flex flex-wrap mx-[-15px]">
            <div class="xl:w-10/12 xl:!ml-[8.33333333%] lg:w-10/12 lg:!ml-[8.33333333%] w-full flex-[0_0_auto] px-[15px] max-w-full">
              <h2 class="text-[calc(1.265rem_+_0.18vw)] font-bold xl:text-[1.4rem] leading-[1.35] margin-mobile-projekt mb-4">About the Project</h2>
              <div class="flex flex-wrap mx-0">
                <div class="xl:w-9/12 lg:w-9/12 md:w-9/12 w-full flex-[0_0_auto] max-w-full">
                  <p><%= @project.content.html_safe %></p>
                </div>
                <div class="xl:w-2/12 lg:w-2/12 md:w-2/12 w-full flex-[0_0_auto] max-w-full !ml-auto">
                  <ul class="pl-0 list-none">
                    <li>
                      <h5 class="!mb-1">Date</h5>
                      <p><%= @project.date.strftime('%d %b %Y') if @project.date %></p>
                    </li>
                    <% if user_signed_in? %>
                      <li class="mt-4 flex gap-4">
                        <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-primary !text-white !bg-[#3f78e0] hover:!bg-[#345aa3] !rounded-full !px-4 !py-2' %>
                        <%= link_to 'Delete', project_path(@project), 
    data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, 
    class: 'btn btn-danger !text-white !bg-[#e44134] hover:!bg-[#c7322c] !rounded-full !px-4 !py-2' %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap mx-[-15px] md:mx-[-15px] mt-[25px]">
            <div class="item xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] px-[15px] max-w-full mt-[30px]">
              <figure class="overflow-hidden translate-y-0 group rounded cursor-dark">
                <%#= link_to(image_tag("placeholder.jpg", alt: "Additional Image", class: "transition-all duration-[0.35s] ease-in-out group-hover:scale-105"), "path/to/image", data: { gallery: "project-1" }) %>
              </figure>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
